<div class="container">
  <h1>My tasks</h1>
  <ul class="list-group list-group-flush">
    <% @tasks.each do |task| %>

      <% if task.completed %>
      <li class="list-group-item">
        <i class="fa-regular fa-square-check"></i>
        <%= link_to task.title, task_path(task) %>
      </li>
      <% else %>
      <li class="list-group-item">
        <i class="fa-regular fa-square"></i>
        <%= link_to task.title, task_path(task) %>
      </li>
      <% end %>

    <% end %>
  </ul>

  <%= link_to "Add a new task", new_task_path %>

</div>
